{{ define "main" }}
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <a href="/">
                <h2 class="section-heading text-uppercase"><i class="fa fa-caret-left"></i> Zurück</h2>
            </a>
        </div>
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
              <h4 class="my-3">{{ .Title }}</h4>
                <div class="text-muted">{{ .Content }}</div>
            </div>
        </div>
    </div>
</div>
{{ end }}
