{{ $photos := site.Data.photos }}
{{ range $index, $photo := $photos }}
<!-- Modal {{ add $index 1 }}-->
<div class="portfolio-modal modal fade" id="portfolioModal{{ add $index 1 }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">{{ $photo.heading }}</h2>
                            <p class="item-intro text-muted">{{ with $photo.caption }}{{ . }}{{ else }}{{ $photo.subheading | safeHTML }}{{ end }}</p>
                            <img class="img-fluid d-block mx-auto" src="{{ $photo.full | relURL }}" alt="{{ $photo.heading }}" />
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Schließen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
