{{ $photos := site.Data.photos }}
<div class="row">
    {{ range $index, $photo := $photos }}
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ add $index 1 }}">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="{{ $photo.thumbnail | relURL }}" alt="{{ $photo.heading }}" />
            </a>
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{{ $photo.heading }}</div>
                <div class="portfolio-caption-subheading text-muted">{{ $photo.subheading | safeHTML }}</div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
