{{ $members := site.Data.team }}
{{ range $index, $member := $members }}
    {{ if eq (mod $index 3) 0 }}
        <div class="row">
    {{ end }}
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ $member.image | relURL }}" alt="{{ $member.name }}" />
                    <h4>{{ $member.name }}</h4>
                    <p class="text-muted">{{ $member.subtitle }}</p>
                    <p>{{ $member.description | safeHTML }}</p>
                </div>
            </div>
    {{ if or (eq (mod (add $index 1) 3) 0) (eq (add $index 1) (len $members)) }}
        </div>
    {{ end }}
{{ end }}